@use 'reset';
@use 'fonts';
@use 'variables';

html {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    font: var(--font);

    &:has(dialog[open]) {
        scrollbar-gutter: unset;
        overflow: hidden;
        padding-right: 10px;
    }
}

body {
    display: flex;
    justify-content: center;
    padding: 45px;
    background-color: var(--bg);
}

.container {
    width: 100%;
    max-width: 1440px;
    min-height: calc(100vh - 90px);
    padding: 45px;
    border: 1px solid var(--bg-secondary);
    border-radius: 30px;

    background-color: var(--bg-secondary);
}