@import 'reset';
@import 'variables';
@import 'fonts';

body {
    padding: 20px;
    background-color: var(--background-color-primary);
}

.app {
    min-height: calc(100vh - 40px);
    border: 1px solid var(--background-color-secondary);
    border-radius: 30px;
    background-color: var(--background-color-secondary);
}