*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    font: var(--font);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

input {
    padding: 0;
}