.link {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color-primary);

    &.disabled {
        pointer-events: none;
        cursor: auto;
        user-select: none;
        opacity: 0.5;
    }
}

.primary {
    padding: 8px 18px;
    border: 1px solid currentcolor;
    border-radius: 15px;

    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #FE5F00;

    transition: all .1s linear;

    svg {
        fill: currentcolor;
    }

    &:hover {
        color: #FFF;
        background-color: #FE5F00;
    }

    &:active {
        box-shadow: inset 0 0 10px #0000004D;
    }
}

.option {
    gap: 10px;
    justify-content: flex-start;
    padding: 14px 18px;
    border-radius: inherit;


    &[data-active] {
        background-color: var(--background-color-primary);
    }
    
}