.pizzas {
    display: grid;
    grid-area: pizzas;
    grid-template: repeat(2, min-content) / 1fr;
    row-gap: 45px;

    &.noPizzasLeft {
        grid-template: min-content / 1fr;
        row-gap: 0;
    }

    .pizzasContent {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        gap: 35px;
    }

    .pizzasFetchButton {
        display: flex;
        justify-content: center;
    }
}

.error {
    display: grid;
    grid-area: pizzas;
    grid-template: 1fr / 1fr;
    place-items: center center;

    font-weight: 700;
    color: var(--text-color-primary);
}