.pizzas {
    display: grid;
    grid-area: pizzas;
    grid-template-columns: repeat(4, auto);
    gap: 35px;
}

.error {
    display: grid;
    grid-area: pizzas;
    grid-template: 1fr / 1fr;
    place-items: center center;

    font-weight: 700;
    color: var(--text-color-primary);
}