.pizzas {
    display: grid;
    grid-area: pizzas;
    grid-template-columns: repeat(4, auto);
    gap: 35px;
}

.error {
    // display: grid;
    // grid-area: pizzas;

    // grid-template-rows: 1fr; /* Uses available space */
    // height: 0; /* Breaks out of min-content constraint */
    // min-height: 100%; /* Takes full available space */
    // overflow: visible; 

    font-weight: 700;
    color: var(--text-color-primary);
}