.basketPizzaCard {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 15px;

    background-color: var(--background-color-secondary);

    .basketPizzaCardTop {
        display: flex;
        gap: 25px;
        padding-bottom: 12px;
        border-bottom: 1px solid rgb(226 226 233);

        .basketPizzaCardInfo {
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: center;

            .basketPizzaCardInfoTitle {
                font-size: 16px;
                font-weight: 700;
                color: var(--text-color-primary)
            }

            .basketPizzaCardInfoSubtitle {
                font-size: 14px;
                color: var(--text-color-secondary)
            }
        }
    }

    .basketPizzaCardFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .basketPizzaCardSum {
            font-weight: 700;
            color: var(--text-color-primary)
        }

        .basketPizzaCardCountBtn {
            display: flex;
            gap: 10px;
            align-items: center;

            padding: 5px;
            border-radius: 15px;

            background-color: var(--background-color-basket);

            span {
                width: 20px;
                font-weight: 700;
                color: var(--text-color-primary);
                text-align: center;
            }
        }
    }

    .basketPizzaCardButton {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
}