.basketEmptyBlockWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
    .basketEmptyBlock {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    
        .basketName {
            font-size: 22px;
            font-weight: 600;
            color: var(--text-color-primary);
        }
    
        .basketMessage {
            font-size: 16px;
            font-weight: 400;
            color: var(--text-color-secondary);
            
        }
    }
}

