.categories {
    display: inline-flex;

    ul {
        display: flex;
        column-gap: 10px;

        border: 1px solid var(--text-color-primary);
        border-radius: 15px;

        background-color: var(--background-color-third);
    }
}