.popover {
    position: relative;

    ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &.sort {
        border: 1px solid var(--text-color-primary);
        border-radius: 15px;
        background-color: var(--background-color-third);

        ul {
            top: 40px;
            border: inherit;
            border-radius: inherit;
            background-color: var(--background-color-third);

            li {
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 8px 20px;
            }
        }
    }
}