.popover {
    position: relative;

    ul {
        position: absolute;
        z-index: 3;

        display: flex;
        flex-direction: column;

        width: 100%;
    }

    &.sort {
        border: 1px solid var(--border);
        border-radius: 9999px;

        ul {
            top: 40px;
            border: inherit;
            border-radius: 15px;
            background-color: var(--bg-secondary);

            li {
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 8px 20px;

                span {
                    color: var(--text-primary);
                }
            }
        }
    }
}