.link {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color-primary);

    &.disabled {
        pointer-events: none;
        cursor: auto;
        user-select: none;
        opacity: 0.5;
    }
}

.primary {
    width: max-content;
    padding: 8px 18px;
    border: 1px solid var(--text-color-third);
    border-radius: 15px;

    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-color-third);

    transition: all .1s linear;

    svg {
        fill: var(--text-color-third);
        transition: all .1s linear;
    }

    &:hover {
        color: var(--background-color-secondary);
        background-color: var(--text-color-third);

        svg {
            fill: var(--background-color-secondary);
        }
    }

    &:active {
        box-shadow: inset 0 0 10px #0000004D;
    }
}