.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;

    &.searchPizza {
        input {
            padding-left: 48px;
        }
    }

    .input {
        width: 100%;
        padding: 11px 18px;
        border: 1px solid var(--main-color);
        border-radius: 15px;
    
        font-family: var(--font-family);
        font-size: var(--font-size);
        line-height: 1;
        color: var(--text-color-primary);
    
        background-color: var(--background-color-third);
        caret-color: var(--text-color-primary);
    
        &::placeholder {
            color: var(--text-color-secondary);
        }
        
        &:focus {
            outline: none;
        }
    
        &:disabled {
            opacity: 0.5;
        }
    }
}