.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 334px;
}

.size,
.type {
    position: relative;

    overflow: hidden;
    display: flex;

    height: 32px;
    border-radius: 16px;

    background-color: #f3f3f7;
}

.sizeElement,
.typeElement {
    label {
        cursor: pointer;
        user-select: none;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        font-size: 13px;
        font-weight: 700;
    }

    input {
        display: none;

        &:disabled + label {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

.size {
    .backLayoutSize {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        width: 25%;
        padding: 2px;

        transition: transform 200ms ease-out;

        &::before {
            content: " ";

            display: block;

            width: 100%;
            height: 100%;
            border-radius: 16px;

            background-color: var(--background-color-secondary);
            box-shadow: rgb(6 5 50 / 19%) 0 6px 20px;
        }
    }

    .sizeElement {
        width: 25%;
    }
}

.type {
    .backLayoutType {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        width: 50%;
        padding: 2px;

        transition: transform 200ms ease-out, width;

        &::before {
            content: " ";

            display: block;

            width: 100%;
            height: 100%;
            border-radius: 16px;

            background-color: var(--background-color-secondary);
            box-shadow: rgb(6 5 50 / 19%) 0 6px 20px;
        }
    }

    .typeElement {
        width: 50%;
    }
}