.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 334px;
}

.size,
.type {
    position: relative;

    overflow: hidden;
    display: flex;

    height: 32px;
    border-radius: 16px;

    background-color: #f3f3f7;

    & > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        height: 100%;
        padding: 2px;
        border-radius: 16px;

        background-color: var(--background-color-secondary);
        background-clip: content-box;
        box-shadow: rgb(6 5 50 / 19%) 0 6px 20px;

        transition: transform 200ms ease-out;
    }
}


.size {
    .backLayoutSize {
        width: 25%;
    }
}

.type {
    .backLayoutType {
        width: 50%;
    }
}