.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 334px;

    .size {
        position: relative;

        overflow: hidden;
        display: flex;

        height: 32px;
        border-radius: 16px;

        background-color: #F3F3F7;

        .backLayoutSize {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            width: calc(25%);
            padding: 2px;

            transition: transform 200ms ease-out;

            &::before {
                content: " ";

                display: block;

                width: 100%;
                height: 100%;
                border-radius: 16px;

                background-color: var(--background-color-secondary);
                box-shadow: rgb(6 5 50 / 19%) 0 6px 20px;
            }
        }

        .sizeElement {
            width: calc(25%);

            input {
                position: absolute;
                display: none;
            }

            label {
                cursor: pointer;
                user-select: none;

                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
                border-radius: 9999px;

                font-family: var(--font-family);
                font-size: 13px;
                font-weight: 700;
                color: var(--text-color-primary);
            }
        }
    }

    .type {
        position: relative;

        overflow: hidden;
        display: flex;

        height: 32px;
        border-radius: 16px;

        background-color: #F3F3F7;

        .backLayoutType {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            width: calc(50%);
            padding: 2px;

            transition: transform 200ms ease-out, width;

            &::before {
                content: " ";

                display: block;

                width: 100%;
                height: 100%;
                border-radius: 16px;

                background-color: var(--background-color-secondary);
                box-shadow: rgb(6 5 50 / 19%) 0 6px 20px;
            }
        }

        .typeElement {
            width: calc(50%);

            input {
                position: absolute;
                display: none;
            }

            label {
                cursor: pointer;
                user-select: none;

                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
                border-radius: 16px;

                font-family: var(--font-family);
                font-size: 13px;
                font-weight: 700;
                color: var(--text-color-primary);
            }
        }
    }

}