.image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.notFound {
    max-width: 340px;
    max-height: 340px;
}

.logo {
    width: 35px;
    height: 35px;
}

.mini {
    width: 30px;
    height: 30px;
    background-color: grey;
}

.basketEmpty {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.basketPizzaCard {
    width: 65px;
    height: 65px;
    background-color: grey;
}

.pizzaCard {
    width: 210px;
    height: 210px;
    background-color: grey;
}