.notFound,
.logo,
.mini,
.basketEmpty,
.basketPizzaCard,
.pizzaCard,
.pizzaIngredient,
.pizzaModalExtraSmall, 
.pizzaModalSmall, 
.pizzaModalMiddle, 
.pizzaModalLarge, {
    position: relative;
}

.notFound {
    width: 340px;
    height: 340px;
}

.logo {
    width: 35px;
    height: 35px;
}

.mini {
    width: 30px;
    height: 30px;
    background-color: grey;
}

.basketEmpty {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.basketPizzaCard {
    width: 65px;
    height: 65px;
    background-color: grey;
}

.pizzaCard {
    width: 209px;
    height: 209px;
    margin: 4% 0 0 4%;
    transition: transform .1s linear;

    &:hover {
        transform: translateY(5px);
    }
}

.pizzaIngredient {
    width: 88px;
    height: 88px;
}

.pizzaModalExtraSmall {
    width: 263px;
    height: 263px;
    margin: 4% 0 0 4%;
}

.pizzaModalSmall {
    width: 336px;
    height: 336px;
    margin: 4% 0 0 4%;
}

.pizzaModalMiddle {
    width: 409px;
    height: 409px;
    margin: 4% 0 0 4%;
}

.pizzaModalLarge {
    width: 482px;
    height: 482px;
    margin: 4% 0 0 4%;
}