.categories {
    display: inline-flex;

    ul {
        display: flex;
        column-gap: 10px;
        border: 1px solid var(--border);
        border-radius: 9999px;

        @media screen and (width <= 940px) {
            flex-direction: column;
            align-items: center;
            border-radius: 30px;
        }
    }
}