.categories {
    display: inline-flex;

    ul {
        display: flex;
        column-gap: 10px;

        border: 1px solid var(--text-primary);
        border-radius: 9999px;

        background-color: var(--bg-accent);
    }
}