.comboWrapper {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        padding: 8px 20px;
        border: 1px solid var(--background-color-third);
        border-radius: 15px;
    
        font-family: var(--font-family);
        font-size: var(--font-size);
        line-height: 1;
        color: var(--text-color-primary);
    
        background-color: var(--background-color-third);
        caret-color: var(--text-color-primary);

        &::placeholder {
            color: var(--text-color-secondary);
        }

        &::-webkit-search-cancel-button {
            cursor: pointer;

            width: 16px;
            height: 16px;

            appearance: none;
            background-image: url('../../../assets/images/cross-icon.svg');
            background-size: 16px 16px;
        }

        &:focus {
            outline: none;
        }
    }

    &.searchPizza {
        input {
            padding-left: 48px;
            border: 1px solid var(--text-color-primary);
        }
    }
}
