.pizzaCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    .pizzaCardName {
        width: 100%;
        font-size: 22px;
        font-weight: 700;
        color: var(--text-color-primary);
    }

    .pizzaCardRating {
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        color: var(--text-color-secondary);
    }

    .pizzaCardStructure {
        font-size: 14px;
        line-height: 1.3;
        color: var(--text-color-secondary);
    }

    .pizzaCardFooter {
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        justify-content: space-between;

        width: 100%;

        .pizzaCardFooterPrice {
            font-size: 20px;
            font-weight: 700;
            color: var(--text-color-primary);
        }
    }
}