/* stylelint-disable no-descending-specificity */
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: none;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color-primary);

    background: none;

    &:disabled {
        cursor: auto;
        user-select: none;
        opacity: 0.5;
    }
}

.primary {
    gap: 5px;

    padding: 14px 18px;
    border: 1px solid var(--text-color-third);
    border-radius: 15px;

    font-weight: 600;
    line-height: 1;
    color: var(--text-color-third);

    transition: all .1s linear;

    svg {
        fill: var(--text-color-third);
        transition: fill .1s linear;
    }

    &:hover:enabled {
        color: var(--background-color-secondary);
        background-color: var(--text-color-third);

        svg {
            fill: var(--background-color-secondary);
        }
    }

    &:active:enabled {
        box-shadow: inset 0 0 10px #0000004D;
    }
}

.search {
    pointer-events: none;
    position: absolute;
    left: 20px;

    svg {
        fill: var(--text-color-secondary);
    }
}

.close {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: -40px;

    transition: transform .3s linear;

    svg {
        width: 25px;
        height: 25px;
        fill: var(--background-color-secondary);
    }

    &:hover {
        transform: rotate(180deg) scale(1.2);
    }
}

.delete {
    width: 16px;
    height: 16px;

    svg {
        fill: var(--text-color-secondary);
        transition: fill .1s linear;
    }

    &:hover {
        svg {
            fill: var(--text-color-primary)
        }
    }
}

.counter {
    width: 24px;
    height: 24px;

    svg {
        color: var(--text-color-secondary);
        transition: color .1s linear;
    }

    &:hover {
        svg {
            color: var(--text-color-primary)
        }
    }
}

.category {
    padding: 10px 15px;
    border-radius: 15px;

    font-weight: 700;
    line-height: 1;
    color: var(--text-color-primary);

    transition: color .1s linear;

    &:hover {
        color: var(--text-color-third);
    }

    &.categoryActive {
        color: var(--text-color-third);
        background-color: var(--background-color-secondary);
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
    }
}

.sort {
    gap: 5px;

    padding: 10px 15px;
    border-radius: 15px;

    font-weight: 700;
    color: var(--text-color-primary);

    svg {
        fill: var(--text-color-primary);
    }

    span {
        &:last-child {
            color: var(--text-color-third);
        }
    }
}

.sortArrow {
    padding: 5px;
    border: 1px solid var(--text-color-secondary);
    border-radius: 15px;
    transition: border-color .1s linear;

    svg {
        fill: var(--text-color-secondary);
        transition: fill .1s linear;
    }

    &:hover {
        border-color: var(--text-color-primary);;

        svg {
            fill: var(--text-color-primary);
        }
    }
}
