/* stylelint-disable no-descending-specificity */
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: max-content;
    padding: 0;
    border: none;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color-primary);

    background: none;

    &:disabled {
        cursor: auto;
        user-select: none;
        opacity: 0.5;
    }
}

.primary {
    gap: 5px;

    padding: 8px 20px;
    border: 1px solid var(--text-color-third);
    border-radius: 15px;

    font-weight: 600;
    line-height: 1;
    color: var(--text-color-third);

    transition: all .1s linear;

    svg {
        fill: var(--text-color-third);
        transition: fill .1s linear;
    }

    &:hover:enabled {
        color: var(--text-color-default);
        background-color: var(--text-color-third);

        svg {
            fill: var(--text-color-default);
        }
    }

    &:active:enabled {
        box-shadow: inset 0 0 10px #0000004D;
    }
}

.search {
    pointer-events: none;
    position: absolute;
    left: 20px;

    svg {
        fill: var(--text-color-secondary);
    }

    &:disabled {
        opacity: 1;
    }
}

.close {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: -40px;

    transition: transform .3s linear;

    svg {
        width: 25px;
        height: 25px;
        fill: var(--text-color-default);
    }

    &:hover {
        transform: rotate(180deg) scale(1.2);
    }
}

.delete {
    width: 16px;
    height: 16px;

    svg {
        fill: var(--text-color-secondary);
        transition: fill .1s linear;
    }

    &:hover {
        svg {
            fill: var(--text-color-primary)
        }
    }
}

.counter {
    width: 24px;
    height: 24px;

    svg {
        color: var(--text-color-secondary);
        transition: color .1s linear;
    }

    &:hover {
        svg {
            color: var(--text-color-primary)
        }
    }
}

.category {
    padding: 8px 20px;
    border-radius: 15px;

    font-weight: 700;
    line-height: 1;
    color: var(--text-color-primary);

    transition: color .1s linear;

    &:hover {
        color: var(--text-color-third);
    }

    &.categoryActive {
        color: var(--text-color-third);
    }
}

.sort {
    gap: 5px;

    padding: 8px 20px;
    border-radius: 15px;

    font-weight: 700;
    line-height: 1;
    color: var(--text-color-primary);

    svg {
        fill: var(--text-color-primary);
    }

    span {
        &:last-child {
            color: var(--text-color-third);
        }
    }
}

.sortArrow {
    padding: 5px;
    border: 1px solid var(--text-color-secondary);
    border-radius: 15px;
    transition: border-color .1s linear;

    svg {
        color: var(--text-color-secondary);
        transition: color .1s linear;
    }

    &:hover {
        border-color: var(--text-color-primary);

        svg {
            color: var(--text-color-primary);
        }
    }

    &.sortArrowActive {
        border-color: var(--text-color-primary);
        
        svg {
            color: var(--text-color-primary);
        }
    }
}

.closeModal {
    position: absolute;
    right: -55px;

    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 22px;

    background-color: var(--text-color-default);

    &:hover {
        background-color: var(--background-color-third);
    }
}

.calories {
    svg {
        fill-opacity: 0.4;
        transition: all .1s linear;
    }

    &:hover {
        svg {
            transform: scale(1.1);
            fill-opacity: 0.6;
        }
    }

    &.caloriesActive {
        svg {
            transform: scale(1.1);
            fill-opacity: 0.6;
        }
    }
}

.size {
    z-index: 1;

    width: 25%;
    height: 100%;

    font-size: 13px;
    font-weight: 700;
}

.type {
    z-index: 1;

    width: 50%;
    height: 100%;

    font-size: 13px;
    font-weight: 700;

    &:disabled {
        cursor: not-allowed;
    }
}

.ingredient {
    display: inline-block;

    font-weight: 500;
    line-height: 1.2;
    text-decoration: underline dotted;
    text-underline-offset: 3px;

    &.ingredientRemoved {
        border-bottom: none;
        text-decoration: line-through
    }
}
