.notFound {
    max-width: 340px;
    max-height: 340px;
}

.logo {
    width: 35px;
    height: 35px;
}

.mini {
    width: 30px;
    height: 30px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}
