.pizzaInfoSizeType {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    width: 100%;
    margin-bottom: 25px;
}

.size,
.type {
    position: relative;

    overflow: hidden;
    display: flex;

    height: 32px;
    border-radius: 9999px;

    background-color: #f3f3f7;

    & > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        height: 100%;
        padding: 2px;
        border-radius: 9999px;

        background-color: var(--bg-secondary);
        background-clip: content-box;
        box-shadow: rgb(6 5 50 / 19%) 0 6px 20px;

        transition: transform 200ms ease-out;
    }
}


.size {
    .backLayoutSize {
        transform: translateX(0);
        width: 25%;

        &.small {
            transform: translateX(100%)
        }

        &.middle {
            transform: translateX(200%)
        }

        &.large {
            transform: translateX(300%)
        }
    }
}

.type {
    .backLayoutType {
        transform: translateX(0);
        width: 50%;

        &.thin {
            transform: translateX(100%)
        }
    }
}