.dropdown {
    position: relative;

    ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &.login {
        ul {
            top: 40px;

            padding: 5px;
            border: 1px solid var(--text-color-primary);
            border-radius: 15px;

            background-color: var(--background-color-third);

            li {
                cursor: pointer;
                gap: 10px;
                padding: 8px 20px;
                border-radius: inherit;

                &[data-active] {
                    a {
                        color: var(--text-color-third);
                        transition: color .1s linear;
                    }
                }
            }
        }
    }
}