.dialog {
    padding: 0;

    &.sidebar {
        translate: 395px;

        width: 395px;
        height: 100%;
        min-height: 100%;
        margin-right: 0;
        margin-left: auto;
        border: none;

        transition: display 250ms allow-discrete, overlay 250ms allow-discrete, translate 250ms;

        &::backdrop {
            background-color: #00000080;
            backdrop-filter: blur(2px);
        }

        &[open] {
            translate: 0;

            @starting-style {
                translate: 395px;
            }
        }
    }
}