.pizzaModal {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    .pizzaImage {
        min-width: 530px;
    }

    .pizzaInfo {
        position: relative;

        overflow: hidden auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        padding: 30px;
        border-radius: 20px;

        background-color: var(--background-color-pizza-modal-info);

        .pizzaInfoTitle {
            margin-bottom: 8px;
            font-size: 26px;
            font-weight: 700;
        }

        .pizzaInfoSubtitle {
            margin-bottom: 8px;
            font-size: 16px;
            color: var(--text-color-secondary);
        }
    }

    .pizzaIngredients {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
    }
}