.pizzaModal {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    .pizzaImage {
        width: 530px;
    }

    .pizzaInfo {
        position: relative;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        row-gap: 10px;

        padding: 30px;

        h1 {
            font-size: 24px;
            font-weight: 700;
        }

        span {
            font-size: 14px;
            color: var(--text-color-secondary);
        }
    }

    .pizzaIngredients {
        font-size: 14px;
    }
}