.pizzaModal {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    .pizzaInfoWrapper {
        overflow: hidden;
        border-radius: 0 20px 20px 0;

        .pizzaInfo {
            scrollbar-width: thin;

            position: relative;

            overflow-y: auto;
            display: flex;
            flex-direction: column;

            height: 100%;
            padding: 30px;

            background-color: var(--background-color-pizza-modal-info);  

            &::-webkit-scrollbar-button {
                display: none;
                width: 0;
                height: 0;
            }
        }
    } 
}