.pizzaModal {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    .pizzaImage {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 530px;
        
        .pizzaImageMiddleTemplate {
            position: absolute;
        }

        .pizzaImageLargeTemplate {
            position: absolute;
        }
    }

    .pizzaInfo {
        position: relative;

        overflow: auto;

        padding: 30px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        background-color: var(--background-color-pizza-modal-info);

        .pizzaInfoBlock {
            // overflow-y: auto;
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .pizzaInfoTitle {
                margin-bottom: 8px;
                font-size: 26px;
                font-weight: 700;
            }

            .pizzaInfoSubtitle {
                margin-bottom: 8px;
                font-size: 16px;
                color: var(--text-color-secondary);
            }

            .pizzaInfoAddIngredients {
                margin-bottom: 15px;
                font-size: 20px;
                font-weight: 700;
            }
        }

        .pizzaPriceButton {
            width: 100%;
        }   
    }
    
}