.noContent {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    align-items: center;
    justify-content: center;

    min-height: calc(100vh - 40px);
    padding: 45px;
    border: 1px solid var(--background-color-secondary);
    border-radius: 30px;

    background-color: var(--background-color-secondary);
    
    .noContentLeft {
        display: flex;
        flex-direction: column;
        gap: 45px;

        .noContentLeftHeader {
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            .noContentLeftHeaderReason {
                font-size: 40px;
                font-weight: 800;
                color: var(--text-color-primary);
            }
        
            .noContentLeftHeaderMsg {
                font-size: 20px;
                color: var(--text-color-secondary);
            }
        }

        .noContentLeftFooter {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    .noContentRight {
        display: flex;
    }
}