.header {
    display: grid;
    grid-area: header;
    grid-template-columns: auto 1fr auto ;
    gap: 40px;
    align-items: center;

    padding-bottom: 45px;
    border-bottom: 1px solid #EDEDED;

    .headerLogo {
        display: flex;
        gap: 5px;
        align-items: center;

        .headerLogoBlock {
            display: flex;
            flex-direction: column;

            .headerLogoBlockName {
                font-size: 24px;
                font-weight: 900;
                color: var(--text-primary)
            }

            .headerLogoBlockSlogan {
                font-size: 16px;
                font-weight: 400;
                color: var(--text-secondary)
            }
        }
    }

    .headerRight {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    @media screen and (width <= 1240px) {
        grid-template: auto auto / auto min-content;
        grid-template-areas: "headerLogo headerLogo"
            "headerSearch headerBasket";
        gap: 30px;
        padding-bottom: 35px;


        .headerLogo {
            grid-area: headerLogo;
            justify-content: center;
        }

        .headerRight {
            grid-area: headerBasket;
            justify-content: end;
        }
    }
}