.header {
    display: grid;
    grid-template-columns: auto 1fr min-content;
    gap: 40px;

    padding-bottom: 45px;
    border-bottom: 0.5px solid #EDEDED;

    .headerRight {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}