.header {
    display: grid;
    grid-area: header;
    grid-template-columns: auto 1fr auto;
    gap: 40px;

    padding-bottom: 45px;
    border-bottom: 1px solid #EDEDED;

    .headerRight {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}