.pizzaImage {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 515px;
        
    .pizzaImageMiddleTemplate {
        position: absolute;
    }

    .pizzaImageLargeTemplate {
        position: absolute;
    }
}