.pizzaImage {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 515px;
    border-radius: 20px 0 0 20px;

    background-color: var(--bg-secondary);
        
    .pizzaImageMiddleTemplate {
        position: absolute;
    }

    .pizzaImageLargeTemplate {
        position: absolute;
    }
}