.dropDown {
    position: relative;

    .options {
        position: absolute;
        top: 50px;

        display: flex;
        flex-direction: column;

        width: 100%;
        border-radius: 15px;

        background-color: var(--background-color-third);
    }
}