.dropDown {
    position: relative;

    .options {
        position: absolute;
        top: 50px;

        display: flex;
        flex-direction: column;

        border-radius: 15px;

        background-color: var(--background-color-third);;
        box-shadow: hsba(97%, 97%, 97%, 1);


    }
}