a {
    display: flex;
    flex-direction: column;
    row-gap:20px;
    justify-content: center;

    width: 100%;
    padding: 24px;
    border-radius: 32px;

    color: red;

    background-color: var(--widget-bg-color-secondary);
}


