.logo {
    display: flex;
    gap: 5px;
    align-items: center;

    .logoBlock {
        display: flex;
        flex-direction: column;

        .logoBlockName {
            font-size: 24px;
            font-weight: 900;
            color: var(--text-color-primary)
        }

        .logoBlockSlogan {
            font-size: 16px;
            font-weight: 400;
            color: var(--text-color-secondary)
        }
    }
}